footer {
    background-color: #222;
    color: #fff;
    padding: 25px;

    width: 100%;
    height: 300px;

    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
}

.footer__logos {
    display: flex;
    flex-direction: row;
    
}

.footer__logos-img {
    margin: 40px;
}

.footer__buttons {
    display: flex;
    flex-direction: column;
}

.footer__buttons Button{
    margin: 10px;
}