* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
a{
    text-decoration: none;
    color: black;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background-color: rgb(108, 92, 155);
}